// Fonts
$Gotham: "Gotham", sans-serif;
$GothamNarrow: "GothamNarrow", sans-serif;

$mainFont: $Gotham;
$secondaryFont: $GothamNarrow;

$baseFontSize: 16px;

$thinW: 100;
$extralightW: 200;
$lightW: 300;
$regularW: 400;
$mediumW: 500;
$semiboldW: 600;
$boldW: 700;
$extraboldW: 800;
$heavyW: 900;

// Colors
$white: #fff;
$black: #000;

$light: #fbfbed;
$darkGrey: #333;

$pink: #ee2255;
$green: #3dbe98;
$orange: #ff5d35;
$blue: #21b6c7;
$lightLime: #ebeda4;

//
$burgerLines: $pink;

$menuBg: $white;
$menuColor: $pink;
$menuBorder: $lightLime;

$introText: $white;

$discoverBg: $light;
$discoverTitle: $green;
$discoverSubitle: $darkGrey;
$discoverCardBodyBg: $white;
$discoverCardTitle: $green;
$discoverDescription: $darkGrey;
$discoverFooterBg: $green;
$discoverFooterPrice: $white;
$discoverSelectTitle: $darkGrey;
$discoverSelectBtn: $green;
$discoverSelectBtnText: $white;

$expTitle: $pink;
$expText: $white;
$expBtn: $white;
$expBtnBg: $pink;

$whyTitle: $orange;
$whyText: $darkGrey;

$bookText: $white;
$bookBtn: $white;
$bookBtnBg: $blue;

$footerMenuColor: $pink;
