// Fonts
$Gotham: "Gotham", sans-serif;
$GothamNarrow: "GothamNarrow", sans-serif;

$mainFont: $Gotham;
$secondaryFont: $GothamNarrow;

$baseFontSize: 16px;

$thin: 100;
$extralight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$heavy: 900;

// Colors
$white: #fff;
$black: #000;

$light: #fbfbed;
$darkGrey: #333;

$pink: #ee2255;
$green: #3dbe98;
$orange: #ff5d35;
$blue: #21b6c7;
$lightLime: #ebeda4;

//
$burgerLines: $pink;

$menuBg: $white;
$menuColor: $pink;
$menuBorder: $lightLime;
