* {
  @include reset;

  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: $mainFont;
}

.stop-scrolling {
  overflow: hidden;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
