* {
  @include reset;

  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $mainFont;
  font-weight: $lightW;
  overflow-x: hidden;
}

.stop-scrolling {
  overflow: hidden;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  @include font-size(20);
}
.subtitle {
  @include font-size(14);
}

.a2a_svg {
  border-radius: 50% !important;
}

@media only screen and (min-width: 768px) {
  .title {
    @include font-size(30);
  }
}

@media only screen and (min-width: 992px) {
  .title {
    @include font-size(40);
  }
}
