.footer {
  &__row {
    @include flex(space-between, flex-start, row);
  }

  &__col {
    padding-bottom: 0;
    padding-right: 50px;

    &:last-child {
      padding-bottom: 0;
      padding-right: 0;
    }
  }

  &__menu-title {
    text-align: initial;
    padding-bottom: 20px;
  }
}

.footer-menu {
  &__list {
    .menu-item {
      text-align: initial;
    }
  }
}
